.contenedor__susc {
  background-color: rgb(234, 209, 189);
  min-height: 70vh;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  align-items: center;

  .contenedorcajitas{

    height:max-content;
  }
}

.contenedor__imagenescajitas {
  display: flex;
  padding-left: 5%;
}
.imagenes__cajitas {
  background-color: rgb(199, 157, 124);
  width: 190px;
  padding: 25px;
  margin-top: 5%;
  height: 150px;
  border-radius: 22px;
  margin: 2%;
}

.contenedor__textossuscripciones {
  display: flex;
  padding-left: 5%;
  justify-content: center;
  height:450px;
  
  .boton__suscribirme{

    text-align: center;
    
    justify-self: flex-end;
    margin-left:0px;
    margin-top: auto;
    
  }
}

.textos__suscripciones {
  display: flex;
  flex-direction:column;
  background-color: rgb(255, 255, 255);
  width: 190px;
  padding: 25px;
  border-radius: 22px;
  margin: 2%;
  font-family: "perpetua";
  color: #474747;
  justify-content: space-between;
}

@media (max-width: 768px){
  .contenedor__susc{

    flex-direction: column;
    align-items: center;
    
    
  }
  
}