.contenedor__elegir {
  background-color: rgb(234, 209, 189);
  min-height: 70vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.h1__porque {
  color: #474747;
  font-family: "perpetua";
  padding-top: 2%;
}

.contenedor__cuadros {
  display: flex;
  padding-left: 13%;
}

.imagen__cuadro {
  border-radius: 22px;
}

.item {
  justify-content: center;
  background-color: white;
  border-radius: 5%;
  margin: 2%;
}

.texto__fotos {
  text-align: center;
  color: #474747;
  font-family: "perpetua";
  border-radius: 0px 0px 22px 22px;
  margin-top: 2%;
}


@media (max-width: 768px) {
  
  .contenedor__elegir{

    flex-direction: column;
  }
  .contenedor__cuadros{

    flex-direction: column;
    padding-left: 8%;
    padding-right: 8%;
  }

}