.interaccion__cajitas {
  background-color: rgb(248, 240, 237);
  font-family: "perpetua";
  width: 100%;

  
}

.contenedor__titulocajitasinter {
  color: #474747;
  padding-top: 2%;
  text-align: center;
  margin: 0;
  
}

.imagenes__cajita {
  padding-left: 8%;
  padding-top: 2%;
}

.contenedor__coloresycajas {
  padding-left: 18%;
  padding-top: 2%;
  display: flex;
  padding-bottom: 5%;
}

.contenedor__circulos {
  padding-left: 5%;
  padding-top: 7%;
}

.imagen__circulonegro, .imagen__circuloamarillo, .imagen__circuloverde, .imagen__circulonaranja, .imagen__circuloazul {
  border: none;
}

@media (max-width: 768px){
  .interaccion__cajitas{
    .contenedor__titulocajitasinter{
    

      font-size: 21px;
      margin-bottom: 10px;
  
    }

  }
  .contenedor__coloresycajas{
    flex-direction: column;
    padding: 0px;
   
    align-items: center;
    
    img{
  
  
      padding: 0px;
    
    }
    .contenedor__circulos{
  
      padding: 0px;
      display: flex;
      justify-content: center;
      margin-top: 5%;
      margin-bottom: 5%;
    }
  }
  
  

}

