.marcas__patrocinadoras {
    background-color: rgb(248, 240, 237);
    text-align: center;
  }
  
  .contenedor__patrocinadores {
    color: #474747;
    font-family: "perpetua";
    padding-top: 2%;
    width: 100%;
    img{

      width: 100%;
    }

  }
  

  