.contenedor__newsletter {
  background-color: rgb(234, 209, 189);
  min-height: 20vh;
  font-family: "perpetua";
  color: #474747;
  display: flex;
}

.texto__news {
  padding: 3%;
  display: flex;
}

.contenedor__input {
  padding-top: 13%;
  display: flex;
  padding-left: 15%;
  .input{

    margin:10px;
    padding: 10px;

  }
}

.boton__agregar {
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  color: #692626;
  background-color: #ECCBA3;
  margin-left: 10%;
  font-family: "perpetua";
  border-radius: 6px;
  border-color: #ECCBA3;
  height: 50px;

  &:hover {
    opacity: 0.6;
    text-decoration: none;
  }
}

@media (max-width: 768px){

  .contenedor__newsletter{

    flex-direction: column;
  }
  .contenedor__input{
    display: flex;
    padding: 0px;
    align-items: center;
    flex-direction: column;
    
    .input{

      width: 80%;
      margin:1%;
     
    }
    .boton__agregar{
      margin: 0px;
      margin-bottom: 5%;
      margin-top: 5%;
    }
  }
}