body {
    background-color: #f8f0ed;
}
.producto {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-around;

    &__imagenContenedor {
        width: 600px;
        height: 500px;
        display: flex;
        background-color: #ead1bd;
        padding: auto;
        align-items: center;

        .producto__imagen {
            width: 80%;
            margin: auto;
        }
    }
    &__informacion {
        display: flex;
        flex-direction: column;

        p {
            width: 400px;
            font-family: "perpetua";
        }
        .productoPrecio {
            font-weight: bold;
            font-size: 20px;
        }
    }
    .botonComprar {
        text-decoration: none;
        padding: 10px;
        font-weight: 600;
        font-size: 20px;
        color: #692626;
        background-color: #ECCBA3;
        border-radius: 6px;
        font-family: "perpetua";
    }
}
