.list{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    text-decoration: none;
    font-family: "perpetua";
    padding-top: 5%;
    
   

}


.producto{
    border: 1px;
    width: 280px;
    display: block;
   
    &__imagen{
        width: 48%;
    }

    &__info{
        padding: 10px;
    }

    &__titulo{
        margin-top: 5px;
        margin-bottom: 5px;
  
    }

    &__precio{
        margin: 0;
        padding-top: 3%;
        
    }

   

}


