@charset "UTF-8";
@font-face {
  font-family: perpetua;
  src: url("perpetua-titling-mt-bold.ttf");
}

@font-face {
  font-family: Roboto1;
  src: url("Roboto-Bold.ttf");
}

@font-face {
  font-family: Roboto2;
  src: url("Roboto-Regular.ttf");
}

.contenedor {
  width: 100%;
  background-color: #f8f0ed;
}

.contenedor__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 12vh;
  padding: 20px 20px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.topnav {
  width: 60rem;
  margin-left: 2%;
}

.navitem {
  margin-left: 5%;
  text-decoration: none;
  color: #3F3F3F;
  font-family: "perpetua";
}

.imagen__carro {
  margin-left: 5%;
  border: none;
  cursor: pointer;
}

.contenedor__banner {
  background-color: white;
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.imagen__banner {
  padding: 25px;
}

.contenedor__imagenes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.imagen__flecha {
  padding-top: 40%;
}

.contenedor__parrafo {
  margin-top: 3%;
}

.h1__titulo {
  font-family: "perpetua";
  padding-left: 100px;
  color: #474747;
}

.h2__parrafo {
  font-family: "perpetua";
  padding-top: 30px;
  padding-left: 95px;
  color: #474747;
}

.boton__sub {
  padding-top: 7%;
}

.boton__suscribirme {
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #692626;
  background-color: #ECCBA3;
  border-radius: 6px;
  margin-left: 10%;
  font-family: "perpetua";
}

.boton__suscribirme:hover {
  opacity: 0.6;
  text-decoration: none;
}

.contenedor__elegir {
  background-color: #ead1bd;
  min-height: 61vh;
  text-align: center;
}

.h1__porque {
  color: #474747;
  font-family: "perpetua";
  padding-top: 2%;
}

.contenedor__cuadros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 13%;
}

.imagen__cuadro {
  border-radius: 22px;
}

.item {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  border-radius: 5%;
  margin: 2%;
}

.texto__fotos {
  text-align: center;
  color: #474747;
  font-family: "Roboto1";
  border-radius: 0px 0px 22px 22px;
  margin-top: 2%;
}

.contenedor__comentarios {
  background-color: #f8f0ed;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contenedor__reseñas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #c79d7c;
  width: 300px;
  padding: 25px;
  margin-top: 5%;
  border-radius: 20px;
  height: 70px;
  margin-left: 16%;
}

.texto__reseñas {
  font-family: "Roboto1";
  margin-left: 10%;
  margin-top: 1%;
  font-size: 114%;
  color: white;
}

.contenedorimagenes__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40%;
  padding-right: 50%;
}
/*# sourceMappingURL=main.css.map */