@import "header";
@import "banner";
@import "caracteristicasprincipales";
@import "comentarios";
@import "publicidadpropia";
@import "marcaspatrocinadoras";
@import "cajitassuscripciones";
@import "interaccionconelproducto";
@import "newsletter";
@import "footer";
@import "productos";

@media (max-width: 768px){

  h1{

    font-size: 25px;
  }
  h2{

   font-size:  18px;
  }

}
body{
    margin: 0;
}
html{
  scroll-behavior: smooth;
}




