@import "header";
@import "banner";
@import "inicioSesion";
@import "caracteristicasprincipales";
@import "comentarios";
@import "publicidadpropia";
@import "marcaspatrocinadoras";
@import "cajitassuscripciones";
@import "interaccionconelproducto";
@import "newsletter";
@import "footer";
@import "productos";
@import "formulario";
@import "registrarse";
@import "producto";

.hidden{

  display: none;
}
@media (max-width: 768px){

  h1{

    font-size: 25px;
  }
  h2{

   font-size:  18px;
  }

}
body{
  background-color: white;
    margin: 0;
}
html{
  scroll-behavior: smooth;
}




