@charset "UTF-8";
.contenedor {
  width: 100%;
  background-color: #f8f0ed;
}

.contenedor__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 12vh;
  padding: 20px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.topnav {
  width: 60rem;
  margin-left: 2%;
}

.contenedor__menu_mobile {
  width: 30px;
}

.contenedor__menu_mobile img {
  width: 100%;
}

.contenedor__menu_mobile {
  display: none;
}

.menumobile {
  display: none;
}

.imagen__carromobile {
  display: none;
}

.navitem {
  margin-left: 5%;
  text-decoration: none;
  color: #3F3F3F;
  font-family: "perpetua";
}

.imagen__carro {
  margin-left: 5%;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

@media (max-width: 768px) {
  .contenedor__header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contenedor__header .imagen__carromobile {
    display: block;
    background-color: transparent;
    border: none;
  }
  .contenedor__header .logo {
    margin: auto;
  }
  .contenedor__menu_mobile {
    display: block;
  }
  .topnav {
    display: none;
  }
  .menumobileopciones li {
    list-style: none;
  }
  .menumobileopciones li a {
    text-decoration: none;
    color: white;
  }
  .menumobile {
    position: absolute;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 20px;
    top: 0px;
    left: 0px;
    width: 40%;
    height: 100vh;
    background-color: #EAD1BD;
  }
}

.contenedor__banner {
  background-color: white;
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h2 {
  font-family: "perpetua";
}

p {
  font-family: "perpetua";
}

.image__slide {
  width: 380px;
  height: 380px;
}

.image__slide .imagen__banner {
  width: 100%;
}

.imagen__banner {
  padding-top: 25px;
}

.contenedor__imagenes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.imagen__flecha {
  padding-top: 40%;
}

.contenedor__parrafo {
  margin-top: 3%;
}

.h1__titulo {
  font-family: "perpetua";
  padding-left: 100px;
  color: #474747;
}

.h2__parrafo {
  font-family: "perpetua";
  padding-top: 30px;
  padding-left: 95px;
  color: #474747;
}

.boton__sub {
  padding-top: 7%;
}

.boton__suscribirme {
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #692626;
  background-color: #ECCBA3;
  border-radius: 6px;
  margin-left: 10%;
  font-family: "perpetua";
}

.boton__suscribirme:hover {
  opacity: 0.6;
  text-decoration: none;
}

@media (max-width: 768px) {
  .contenedor__banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenedor__banner .imagen__flecha {
    padding: 0px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .contenedor__banner .contenedor__imagenes {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contenedor__banner .image__slide {
    width: 200px;
    height: 200px;
  }
  .contenedor__banner .h1__titulo {
    padding: 0px;
  }
  .contenedor__banner .h2__parrafo {
    padding: 0px;
  }
  .contenedor__banner .boton__suscribirme {
    margin: 0%;
  }
  .contenedor__banner .boton__sub {
    padding-top: 0%;
    padding-bottom: 10%;
  }
}

.contenedorLogin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(234, 209, 189, 0.47);
  width: 60%;
  padding: 1em;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
}

.contenedorLogin input {
  margin-bottom: 22px;
  height: 30px;
}

.contenedorLogin label {
  margin-bottom: 8px;
}

.contenedorLogin .btnIniciar {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 38px;
  width: 159px;
  left: 682px;
  top: 629px;
  border-radius: 4px;
  background-color: #eccba3;
  border: none;
  outline: none;
}

.contenedorLogin h1 {
  text-align: center;
  font-size: 25px;
  color: #3f3f3f;
}

.contenedorLogin .registroText {
  text-align: center;
}

.contenedorLogin .registroText a {
  text-decoration: none;
  color: black;
}

.contenedorLogin .registroText a:visited {
  text-decoration: none;
}

.contenedor__elegir {
  background-color: #ead1bd;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.h1__porque {
  color: #474747;
  font-family: "perpetua";
  padding-top: 2%;
}

.contenedor__cuadros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.imagen__cuadro {
  border-radius: 22px;
}

.item {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  border-radius: 5%;
  margin: 2%;
}

.texto__fotos {
  text-align: center;
  color: #474747;
  font-family: "perpetua";
  border-radius: 0px 0px 22px 22px;
  margin-top: 2%;
}

@media (max-width: 768px) {
  .contenedor__elegir {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenedor__cuadros {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 8%;
    padding-right: 8%;
  }
}

.contenedor__comentarios {
  background-color: #f8f0ed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contenedor__reseñas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor__reseñas .reseña {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #c79d7c;
  padding: 20px;
  margin-top: 5%;
  border-radius: 20px;
  height: 80px;
  margin-bottom: 50px;
  width: 100%;
}

.contenedor__reseñas .reseña__texto h2, .contenedor__reseñas .reseña__texto h3 {
  font-family: "perpetua";
  margin-left: 10%;
  margin-top: 1%;
  font-size: 117%;
  color: white;
  width: 100%;
}

.divTextoReseñas {
  width: 100%;
}

.contenedorimagenes__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 25%;
  margin: 5%;
}

@media (max-width: 768px) {
  .contenedor__comentarios {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contenedor__publicidad {
  background-color: #ead1bd;
  min-height: 67vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor__imagenpubl {
  width: 590px;
}

.contenedor__imagenpubl img {
  width: 100%;
}

.contenedor__textopubl {
  padding-left: 9%;
  font-family: "perpetua";
  color: #3f3f3f;
}

@media (max-width: 768px) {
  .contenedor__publicidad {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contenedor__publicidad .contenedor__textopubl {
    padding: 0px;
  }
  .contenedor__publicidad .contenedor__imagenpubl {
    width: 250px;
  }
  .contenedor__publicidad .contenedor__imagenpubl br {
    display: none;
  }
}

.marcas__patrocinadoras {
  background-color: #f8f0ed;
  text-align: center;
}

.contenedor__patrocinadores {
  color: #474747;
  font-family: "perpetua";
  padding-top: 2%;
  width: 100%;
}

.contenedor__patrocinadores img {
  width: 100%;
}

.contenedor__susc {
  background-color: #ead1bd;
  min-height: 70vh;
  margin-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor__susc .contenedorcajitas {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.contenedor__imagenescajitas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 5%;
}

.imagenes__cajitas {
  background-color: #c79d7c;
  width: 190px;
  padding: 25px;
  margin-top: 5%;
  height: 150px;
  border-radius: 22px;
  margin: 2%;
}

.contenedor__textossuscripciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 450px;
}

.contenedor__textossuscripciones .boton__suscribirme {
  text-align: center;
  justify-self: flex-end;
  margin-left: 0px;
  margin-top: auto;
}

.textos__suscripciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  width: 190px;
  padding: 25px;
  border-radius: 22px;
  margin: 2%;
  font-family: "perpetua";
  color: #474747;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .contenedor__susc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.interaccion__cajitas {
  background-color: #f8f0ed;
  font-family: "perpetua";
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.interaccion__cajitas .boton__suscribirme {
  margin: auto;
  margin-bottom: 10px;
}

.contenedor__titulocajitasinter {
  color: #474747;
  padding-top: 2%;
  text-align: center;
  margin: 0;
}

.imagenes__cajita {
  padding-left: 8%;
  padding-top: 2%;
}

.contenedor__coloresycajas {
  padding-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 3%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor__circulos {
  padding-left: 5%;
  padding-top: 7%;
}

.imagen__circulonegro, .imagen__circuloamarillo, .imagen__circuloverde, .imagen__circulonaranja, .imagen__circuloazul {
  border: none;
}

@media (max-width: 768px) {
  .interaccion__cajitas .contenedor__titulocajitasinter {
    font-size: 21px;
    margin-bottom: 10px;
  }
  .contenedor__coloresycajas {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contenedor__coloresycajas img {
    padding: 0px;
  }
  .contenedor__coloresycajas .contenedor__circulos {
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

.contenedor__newsletter {
  background-color: #ead1bd;
  min-height: 20vh;
  font-family: "perpetua";
  color: #474747;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.texto__news {
  padding: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contenedor__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contenedor__input .input {
  margin: 10px;
  padding: 10px;
}

.boton__agregar {
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  color: #692626;
  background-color: #ECCBA3;
  margin-left: 10%;
  font-family: "perpetua";
  border-radius: 6px;
  border-color: #ECCBA3;
  height: 50px;
}

.boton__agregar:hover {
  opacity: 0.6;
  text-decoration: none;
}

@media (max-width: 768px) {
  .contenedor__newsletter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contenedor__input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenedor__input .input {
    width: 80%;
    margin: 1%;
  }
  .contenedor__input .boton__agregar {
    margin: 0px;
    margin-bottom: 5%;
    margin-top: 5%;
  }
}

.contenedor__footer {
  background-color: #f8f0ed;
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "perpetua";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__basico {
  color: #4b4c4d;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  padding-left: 8%;
}

.footer__basico ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.list-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__basico li {
  padding: 0 10px;
}

.footer__basico ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer__basico ul a:hover {
  opacity: 1;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__iconos {
  padding-top: 2%;
  margin-right: auto;
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "perpetua";
}

.footer__iconos img {
  margin: 10px;
}

@media (max-width: 768px) {
  .contenedor__footer {
    padding: 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px;
  }
  .contenedor__footer .footer__basico {
    padding: 0px;
  }
  .contenedor__footer .footer__basico footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenedor__footer .footer__basico footer ul {
    display: block;
  }
  .contenedor__footer .footer__basico footer .footer__iconos {
    margin: 0px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0px;
    padding-top: 5px;
  }
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  text-decoration: none;
  font-family: "perpetua";
  width: 100%;
  padding-top: 5%;
  background-color: #f8f0ed;
}

.productoMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.productoAside {
  width: 50%;
  background-color: #f8f0ed;
  border-width: 1px;
  padding: 5px;
  border-right-style: solid;
  border-color: #F1D0B5;
}

.productoAside .filtros {
  padding-left: 20px;
}

.productoAside .filtroContendor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.productos {
  border: 1px;
  width: 30%;
  display: block;
  margin: 10px;
}

.productos .imagenContainer {
  width: 100%;
}

.productos__imagen {
  width: 70%;
}

.productos__info {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productos__titulo {
  margin: 0;
  margin-top: 5px;
  height: 60px;
  word-wrap: break-word;
  width: 150px;
  margin-bottom: 5px;
  color: #3f3f3f;
  text-decoration: none;
  text-align: center;
}

.productos__precio {
  margin: 0;
  margin-top: 20px;
  padding-top: 3%;
  color: #3f3f3f;
}

.productos a {
  text-decoration: none;
}

.productos .btnCarrito {
  width: 25px;
  height: 25px;
}

body {
  background-color: #f8f0ed;
  font-family: "perpetua";
}

.formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  background-color: rgba(234, 209, 189, 0.47);
}

.formulario .formularioContenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.formulario button {
  background-color: #eccba3;
  border: none;
  font-family: "perpetua";
  font-weight: bold;
  width: 159px;
  height: 38px;
  font-size: 14;
  margin: auto;
}

.inputContenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
}

.inputContenedor input {
  margin-bottom: 10px;
  height: 25px;
  width: 418px;
}

.inputContenedor label {
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .formulario {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
    width: 100vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .inputContenedor {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 5px 0px;
  }
  .inputContenedor input {
    width: 100%;
  }
  .inputContenedor label {
    margin-bottom: 10px;
  }
}

.contenedorRegistrarse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(234, 209, 189, 0.47);
  width: 60%;
  padding: 1em;
  margin: auto;
  margin-top: 20px;
}

.contenedorRegistrarse input {
  margin-bottom: 22px;
  height: 30px;
}

.contenedorRegistrarse label {
  margin-bottom: 8px;
}

.contenedorRegistrarse .btnRegistrarse {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 38px;
  width: 159px;
  left: 682px;
  top: 629px;
  border-radius: 4px;
  background-color: #eccba3;
  border: none;
  outline: none;
}

.contenedorRegistrarse h1 {
  text-align: center;
  font-size: 25px;
  color: #3f3f3f;
}

body {
  background-color: #f8f0ed;
}

.producto {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.producto .productoMarca {
  font-family: "perpetua";
}

.producto__imagenContenedor {
  width: 600px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ead1bd;
  padding: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.producto__imagenContenedor .producto__imagen {
  width: 80%;
  margin: auto;
}

.producto__informacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.producto__informacion p {
  width: 400px;
  font-family: "perpetua";
  color: #3F3F3F;
}

.producto__informacion h2 {
  color: #3F3F3F;
  margin: 0;
}

.producto__informacion h3 {
  color: #3F3F3F;
  margin: 0;
}

.producto__informacion .productoPrecio {
  font-weight: bold;
  font-size: 20px;
}

.producto .botonComprar {
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #692626;
  background-color: #ECCBA3;
  border-radius: 6px;
  font-family: "perpetua";
}

.hidden {
  display: none;
}

@media (max-width: 768px) {
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 18px;
  }
}

body {
  background-color: white;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}
/*# sourceMappingURL=styles.css.map */